<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSy4lYveBpwUTmVuLji8OpWfA0Fw_EQ0c</string>
	<key>GCM_SENDER_ID</key>
	<string>295482206606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estibafy.estibafyCompanyApp</string>
	<key>PROJECT_ID</key>
	<string>estibafy-company-app</string>
	<key>STORAGE_BUCKET</key>
	<string>estibafy-company-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295482206606:ios:f4040166d37857f94cdcdf</string>
</dict>
</plist>